* {
    padding: 0;
    margin: 0;
    /* Disable Text Selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
body {
    background-color: rgb(33, 33, 33);
    color: green;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    margin: auto;
    padding-top: 64px;
}
#fauxTerminal {
    background-color: rgba(0,0,0,0.25);
    border: 1px solid snow;
    height: 80vh;
    overflow-y: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
#fauxTerminal::-webkit-scrollbar {
    width: 0 !important
}
#fauxTerminalTop {
    background-color: rgba(255,255,255,0.5);
    height: 32px;
    border: 1px solid snow;
    border-bottom: none;
}
#activity {
    padding: 16px 16px 128px 16px;
}
input {
    background-color: rgb(33, 33, 33);
    color: green;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    caret-shape: block;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
#customCaret {
    animation: blink 1s step-end infinite;
    border-bottom: 2px solid green;
}
  
@keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: green;
    }
}
